@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #8e8aff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: min(90%, 300px);
    gap: .5rem;
    background-color: white;
    border: 2px solid;
    border-color: black;
    justify-content: center;
    align-items: center;
}

#login-form * {
    font-size: 2rem;
}

#login-form input {
    margin: 1rem;
    padding: .5rem;
    border: 2px solid;
    border-color: black;
    width: calc(100% - 1rem);
    text-align: center;
}

#login-form hr {
    width: 100%;
}

#login-form input.has-error {
    background-color: #eb7171;
}

#login-form button {
    margin: 1rem;
    padding: .5rem;
    background-color: green;
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
}

#login-form button:disabled {
    background-color: gray;
}

:root {
    --conversation-list-width: 360px;
}

#messages-container {
    max-width: 1440px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid grey;

    & #conversations-list {
        width: var(--conversation-list-width);
        background-color: lightgrey;
        height: 100%;
        overflow: scroll;
        
        & li {
            list-style-type: none;
            border: 2px solid;
            padding: 2px;
            position: relative;

            & header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                & .conversation-name {
                    font-size: 1.5rem;
                }
            }

            & input {
                appearance: none;
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }

        & :nth-child(n + 2 of li) {
            margin-top: -2px;
        }

        & li:hover {
            background-color: red;
            cursor: pointer;
        }
    }

    & #conversation-content {
        flex-grow: 1;
        max-width: calc(100% - var(--conversation-list-width));


        & #no-messages-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        & #conversation-details {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 100%;
            width: 100%;
            gap: .5rem;

            & #conversation-header {
                height: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            & #history-or-search {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }

            & #new-message-form {
                height: 3rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 4px;
                margin-bottom: .5rem;

                & button {
                    width: 64px;
                    height: 2rem;
                    margin-right: 4px;
                }

                & input {
                    flex-grow: 1;
                    font-size: 2rem;
                    margin-left: 4px;
                    padding: .2rem;
                }
            }

            & #message-history {
                display: flex;
                flex-direction: column-reverse;
                justify-content: end;
                overflow: scroll;
                gap: .5rem;

                & li {
                    list-style-type: none;
                    border: gray 2px;
                    border-radius: 4px;
                    max-width: 60%;
                    padding: .5rem;

                    & .message-content {
                        overflow-wrap: break-word;
                        max-width: 100%;
                    }

                    &.yours {
                        align-self: flex-end;
                        background-color: lightgreen;
                        margin-right: .5rem;
                    }

                    &.theirs {
                        align-self: flex-start;
                        background-color: gray;
                        margin-left: .5rem;
                    }

                    & .message-date {
                        font-size: .8rem;
                    }
                }

            } 
        }

    }
}
