<div id="messages-container">
    <aside id="conversations-list">
        <ul>
            {% for conversation in conversations -%}
                <li hx-get="/messages/some-message" hx-target="#conversation-content" hx-push-url="true">
                    <header> 
                        <span class="conversation-name">{{ conversation.name }}</span>
                        <span class="conversation-date">{{ conversation.date }}</span>
                    </header>
                    <span class="message-preview">
                        {{ conversation.preview }}
                    </span>
                </li>
            {% endfor %}
        </ul>

    </aside>
    <main id="conversation-content">
        {% match selected -%}
            {% when Some with (message) -%}
                {{ message|safe }}
            {% when None -%}
                <p id="no-messages">Select a conversation to see the messages!</p>
        {% endmatch %}
    </main>
</div>
